.Container {
  height: 100%;
  min-height: 100vh;
  /* background-image: url('https://cdn.pixabay.com/photo/2016/04/06/10/08/pink-1311251_1280.jpg'); */
  background-repeat: repeat;
  /* background-size: cover; */
  background-position: center;
}
.blur {
  height: 100%;
  min-height: 100vh;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
}

.Main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.clubdetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.ui.list.display {
  /* margin: 0; */
  /* padding: 0; */
}

.addclub {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  color: white;
}

.title-box {
  margin: 5%;
}

.subtitle {
  width: 100%;
  margin: auto;
  text-align: left;
  color: white;
}

.listitem {
  margin: 2% 0;
}

.card-box {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 300px;
  width: 300px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  z-index: 7;
}

.clubinfo {
  border: 0px solid;
  width: 100%;
  height: max-content;
}

.body-box {
  width: 90%;
  background: white;
  border-radius: 15px;
  margin: 5%;
  padding: 3%;
  box-shadow: 1px 1px 1px gray;
}
.title {
  width: 100%;
  color: white;
}

.ui.card.card_width {
  min-width: 288px;
  margin: auto;
  border: 0px;
}

.ui.button.add-club-button {
  position: sticky;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.ui.button.save-club-button {
  font-size: large;
  background: rgb(16, 136, 12);
  color: white;
}

.loader-box {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 5;
  background: #00000077;
}

.loader {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
