.Container {
  height: 100%;
  min-height: 100vh;
  /* background-image: url('https://cdn.pixabay.com/photo/2016/04/06/10/08/pink-1311251_1280.jpg'); */
  background-repeat: repeat;
  /* background-size: cover; */
  background-position: center;
}

.blur {
  height: 100%;
  min-height: 100vh;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
}

.Main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  /* overflow-y: scroll; */
  /* margin-top: 60px; */
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.clubdetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.ui.list.display {
  margin: 0;
  padding: 0;
}

.addclub {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  color: white;
}

.header {
  position: sticky;
  width: 100%;
  top: 0px;
  left: 0px;
  /* background: white; */
  z-index: 9;
  box-shadow: 0px 3px 4px #00000020;
  /* margin: auto; */
}

.title {
  text-align: center;
  height: 60px;
  margin: auto;
  line-height: 60px;
  color: rgb(53, 53, 53);
  z-index: 9;
}

.subtitle {
  /* width: 100%; */
  margin: auto;
  text-align: right;
  color: rgb(53, 53, 53);
  z-index: 9;
}

@supports (position: sticky) or (position: -webkit-sticky) {
  .sticky {
    position: -webkit-sticky; /* 사파리 브라우저 지원 */
    position: sticky;
    top: 24px;
  }
}

.listitem {
  margin: 2% 0;
}

.card-box {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* justify-content: center; */
  /* align-items: center; */
  box-shadow: 1px 1px 4px #00000015;
  height: auto;
  width: 90vw;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  color: black;
  margin: 10px 0;
}

.card-box-title {
  width: 100%;
  text-align: left;
}

.card-box-desc {
  color: rgb(121, 121, 121);
}

.clubinfo {
  border: 0px solid;
  width: 100%;
  height: max-content;
}

.body-box {
  width: 50%;
  background: white;
  border-radius: 15px;
  margin: 5%;
  padding: 3%;
  box-shadow: 1px 1px 1px gray;
}

.ui.card.card_width {
  min-width: 288px;
  margin: auto;
  border: 0px;
}

.ui.button.add-club-button {
  position: sticky;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.ui.button.save-club-button {
  font-size: large;
  background: rgb(16, 136, 12);
  color: white;
}

.loader-box {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 5;
  background: #00000077;
}

.loader {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.hidden {
  display: none;
}
