.wrap {
  /* position: relative; */
  width: 90%;
  max-width: 400px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #00000015;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border-radius: 5px 0 0 5px;
  background: rgba(255, 255, 255, 0.6);
  /* background: red; */
  border: 1px solid #dac8e2;
  border-right: none;
  padding: 5px;
  height: 40px;
  outline: none;
  color: #1b1b1b;
  font-size: 1.5rem;
}

.searchTerm:focus {
  color: #1b1b1b;
}

.searchButton {
  width: 50px;
  height: 40px;
  border: 1px solid #dac8e2;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon.searchicon {
  margin: auto;
  position: relative;
  background: transparent;
}
